<h3>Enter clone url for your repo</h3>

<%= form_tag("/main/processUrl", method: "post") do %>
  <%= label_tag(:url, "URL") %>
  <%= text_field_tag(:url, nil, :required => true) %>
  <%= submit_tag("Submit") %>
<% end %>